<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <link type="text/css" href="./style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Get from app.js -->
    <h1><%=title %></h1>
    <div role="main">
      <!------------------------------------------------------------------------------------>
      <!-- Get from app.js -->
      <!------------------------------------------------------------------------------------>
      <p><%=content %></p>
      <p>
        <table style="width:400px">
          <tr><th>伝言です！</th></tr>
          <tr><td><%=data.msg %></td></tr>
        </table>
      </p>
      <!------------------------------------------------------------------------------------>
      <!-- Get cookie data ----------------------------------------------------------------->
      <!------------------------------------------------------------------------------------>
      <p>your last message : <%= cookie_data %></p>
      <!------------------------------------------------------------------------------------>
      <!-- Input Form -->
      <!------------------------------------------------------------------------------------>
      <p>
        <form method="post" action="/">
          <!-- Post transmission to "/others" -->
          <p>
            MESSAGE 
            <input type="text" name="msg">
            <input type="submit" value="Submit">
          </p>
        </form>
      </p>
    </div>
  </body>
</html>

